

.artist-info {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.artist-image {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(16,24,40,0.6);
    border: 1px solid rgba(16,24,40,0.4);
}