body {
    font-family: "Inconsolata", Arial, Helvetica, sans-serif;
    background-color: #292929;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.songs-list {
    display: flex;
}

.songs-list span {
    flex: 1; /* todas las columnas con el mismo ancho */
    padding: 6px;
}

.header-list {
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding: 5px;
    font-weight: 700;
}